{% extends "base.html" %}

{% block content %}
<div class="container cc-container">
  <div class="row">
    <div class="span6">
        <h1>Students, Faculty, Administrators</h1>
        <h2>Access your certified documents and create new ones; sign in here.</h2>
        <a href="{% url 'public:sso' %}"><button>WEBAUTH LOGIN</button></a>
        <hr/>
        <h1>Public Visitors</h1>
        <h2>You can download this institution's chain here. To access a specific document, use the authorized link provided to you by the document's owner.</h2>
        <button>DOWNLOAD CHAIN</button>
    </div>
    <div class="span6">
        <h1>Chain Status</h1>
        <h3>as of December 17th, 2016 13:11 EAT</h3>
    </div>
  </div>
</div>
{% endblock %}