.certify-area {
  background-color: #E6E6E6;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px inset;
}

.certify-area > form {
  margin: 0;
  padding: 0;
}

form.cc-manual > div {
  display: inline-block;
  padding: 0 20px;
}

form.cc-manual label {
  font-weight: bold;
  color: black;
}

form.cc-manual input[type='submit'] {
  float: right;
  margin: 20px;
}

form.cc-manual input[type='text'] {
  width: 140px;
}

form.cc-manual {
  display: none;
}

form.cc-batch label {
  display: inline;
  font-size: 1.3em;
  margin-right: 15px;
}

form.cc-batch .file-selector {
  text-align: center;
}

.certify-area table {
  width: 100%;
  font-size: 1.3em;
  line-height: 150%;
}

.certify-area table th,
.certify-area table td {
  text-align: center !important;
}

form.confirmation input[type='submit'] {
  margin: 15px auto;
  display: block;
}

#csv_progress_bar {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  position: relative;
}

#csv_confirm_submit {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#csv_confirm_submit h2 {
  font-size: 2em;
  font-weight: bold;
}

#csv_confirm_submit p {
  font-size: 1.4em;
}

#csv-file-selector {
  margin-top: 15px;
  text-align: center;
}