.block {
  border-radius: 10px;
  width: 100%;
  margin: 30px 0;
}

.block ul.desc {
  list-style: none;
  padding: 10px 5px;
  font-size: 1.2em;
}

.block ul li:first-child {
  font-size: 1.4em;
  font-weight: bold;
}

.block .actions {
  border-top: 2px solid black;
}

.block .actions > * {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  padding: 10px 0;
  font-weight: bold;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+0,b3bead+100 */
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 0%, #b3bead 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 0%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 0%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

.pending-block {
  border: 3px dashed black;
}

.hc-block {
  border: 3px solid black;
  margin: 0;
}

.chain-arrow {
  height: 40px;
  margin: 0 auto;
  display: block;
}