<div class="row">
  <div id="cc-secure-links" class="span12">
    <span><a href="{% url 'internal:chain' %}">Chain Status</a></span>
    <span>-</span>
    <span><a href="{% url 'internal:certify' %}">Certify Documents</a></span>
    <span>-</span>
    <span><a href="{% url 'internal:manage_certifications' %}">Manage Certifications</a></span>
    <span>-</span>
    <span><a href="{% url 'internal:network' %}">Network Peers</a></span>
  </div>
</div>