{% extends "base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'public/css/student.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<div class="container cc-container">

  <div class="row">
    <div class="span12">
      <h1>WebLogin</h1>
      <form action="{% url 'public:sso_login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" value="mquinn"/>
        <br/>
        <input name="password" type="password"/>
        <br/>
        <input type="submit" value="LOGIN"/>
      </form>
    </div>
  </div>
  
</div>
{% endblock content %}


