{% load staticfiles %}
{% load certchain_extras %}

<!DOCTYPE html>
<html>
  <head>
    <title>Certchain Document Viewer</title>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
    <link href="{% static 'public/css/viewer.css'%}" rel="stylesheet"/>
    {% endblock stylesheets %}

    <script type="text/javascript" src="{% static 'internal/js/jquery-1.10.2.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wrapper.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/cryptojs.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wordarrayconv.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/sjcl.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/bs58.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/verify.js'%}"></script>
  </head>
  <body>
    <table id="verify-area" class="gray">
      <tr id="certified-text">
        <td>
          <p id="cert-line"><span id="cert-status"></span> by <span class="block-author-hostname"></span> on <span id="action-date"></span> in <a id="block-url" href="{% url 'public:raw_block_at_height' 0 %}">this block</a>.</p>
          <p id="peer-line">Latest confirmation authored <span id="ago"></span> by <strong><span class="block-author-hostname"></span></strong>&nbsp;<span id="peer-list"></span></p>
          <p id="raw-data-line">All authenticity checks were performed in your browser on <a href="{% url 'public:raw_document' docid %}">the raw data located here</a>. To view the checklist, tap this box.</p>
        </td>
        <td id="verify-toggle">
          <img id="hide-details" src="{% static 'public/images/arrow_up.png' %}"/>
          <img id="show-details" src="{% static 'public/images/arrow_down.png' %}"
        </td>
      </tr>
      <tr id="invalid-text">
        <td>
          <p id="cert-line">Invalid.</p>
        </td>
      </tr>
      <tr id="progress-status">
        <td>Verifying the authenticity and status of this document...</td>
      </tr>
      <tr id="checklist">
        <td>
          <ul>
            <li id="document-hash-valid">Does the document hash to the expected and received hash values? <span class="yes">YES</span></li> 
            <li id="author-sig-valid">Is the header of the latest block signed by the authoring institution? <span class="yes">YES</span><span class="no">NO</span></li>
            <li id="peer-hash-valid">Are there one or more peers identified as signatories in the block header? <span class="yes">YES</span><span class="no">NO</span></li>
            <li id="all-peers-signed">Is the block header signed by all peers identified in the header? <span class="yes">YES</span><span class="no">NO</span></li>
            <li id="node-locs-agreed">Are author and peers in agreement about each other's address, hostname, and port? <span class="yes">YES</span><span class="no">NO</span></li>
            <li id="merkle-proof-valid">Does the provided Merkle inclusion proof tie this document to the signed root? <span class="yes">YES</span><span class="no">NO</span></li>
            <li id="within-last-hour">Was this block published within the last hour? <span class="yes">YES</span><span class="no">NO</span></li>
          </ul>
        </td>
      </tr>
    </table>
    <div id="raw-data" style="display: none">{{ raw_data }}</div>
    <div id="doc-id" style="display: none">{{ docid }}</div>
    <div id="document">
      {% block document %}{% endblock document %}
    </div>
  </body>
</html>