{% extends "base.html" %}

{% block authbar %}
<span class="cc-bar-entry">
  <a href="{% url 'internal:user_options' %}">{{ request.session.FULL_NAME }}</a>
</span>
<a class="cc-btn" href="/logout">LOGOUT</a>
{% endblock authbar %}