{% extends "internal/auth_base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'internal/css/certify.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
  {{ block.super }}
  <script type='text/javascript' src="{% static 'public/js/knockout-3.4.1.js'%}"></script>
  <script type="text/javascript" src="{% static 'internal/js/jquery-1.10.2.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'public/js/sjcl.js'%}"></script>
  <script type="text/javascript" src="{% static 'public/js/forge.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'public/js/progressbar.js'%}"></script>
  <script type="text/javascript" src="{% static 'internal/js/certify.js'%}"></script>
{% endblock javascript %}

{% block content %}

<div class="container cc-container">
  {% include "includes/menu.html" %}

  <div class="row">
    <div class="span12">
      <h2>Certify from CSV Manifest</h2>
      <p>Upload a CSV manifest file listing each document to be certified.</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="certify-area">
        <div id="csv-file-selector" data-bind="visible: csvToSendCertChain() == null">
          <input type="file" id="csv_file_upload" name="csvfile" value="Browse"/>
        </div>
        <div id="csv_progress_bar" data-bind="visible: csvInProgress"></div>
        <div id="csv_confirm_submit" data-bind="visible: csvToSendCertChain">
          <h2>Are You Sure?</h2>
          <br/>
          <p>You are about to create a new block containing <strong><span data-bind="text: csvTotalCertifications"></span> new certifications</strong>. Once the required parties have signed this block, it will be added to your institution's hashchain.</p>
          <p>If you wish to view the information that will be sent to the server before it leaves your device, <a href="">click here</a>.</p>
          <form method="post" action="{% url 'internal:queue_certifications' %}" data-bind="submit: csvSubmitForm">
            {% csrf_token %}
            <input type="hidden" name="certify_payload" data-bind="value: csvToSendCertChain"/>
            <button type="submit" class="cc-btn">CREATE NEW BLOCK</button>
            <button class="cc-btn" data-bind="click: csvCancelSubmission">CANCEL</button>
          </form>
        </div>
        <br/>
        <p style="text-align: center" data-bind="visible: csvToSendCertChain() == null"><b>To ensure data security, files you select here never leave your device unencrypted.</b><br/>All documents are encrypted on your device before transmission to the server.</p>
      </div>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div class="span12">
      <h2>Certify Existing PDFs</h2>
      <p>Select one or more existing PDF files that you wish to certify.</p>
    </div>
  </div>
</div>
{% endblock content %}