{% extends "internal/auth_base.html" %}

{% load certchain_extras %}

{% block content %}
<div class="container cc-container">
  {% include "includes/menu.html" %}

  <div class="row">
    <div class="span12">
      <h2>Manage Certifications</h2>
      <p>The list below reflects the current state of all documents certified by your institution on the CertChain network. Documents are ordered from most to least recent.</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table id="cc-diploma-table" class="table">
        <tr>
          <th>Issued To</th>
          <th>Document ID</th>
          <th style="text-align: center">Certfied</th>
          <th style="text-align: center">Revoked</th>
        </tr>
        {% for c in certifications %}
        <tr>
          <td>{{ c.user_id }}</td>
          <td>{{ c.doc_id }}</td>
          <td style="text-align: center">{{ c.cert_timestamp | cc_unix_epoch_to_date }}</td>
          <td style="text-align: center">
            {% if c.rev_timestamp %}
              <span>{{ c.rev_timestamp | cc_unix_epoch_to_date }}</span>
            {% else %}
            <form method="post" action="{% url 'internal:revoke_document' %}">
              {% csrf_token %}
              <input name="docid_to_revoke" type="hidden" value="{{ c.doc_id }}"/>
              <input class="cc-btn" type="submit" value="REVOKE"/>
            </form>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">Your institution has not issued any certifications yet.</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}


