{% extends "internal/auth_base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'internal/css/chain.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<div class="container cc-container">
  {% include "includes/menu.html" %}

  <div class="row">
    <div class="span7">
      <h2>Pending Blocks</h2>
      <p>The blocks below require an action from your institution or another before they can be added to your chain. Click on a block for specific details.</p>
      {% for block in pending_blocks %}
      {% if not block.system_generated %}
      <div class="block pending-block">
        <ul class="desc">
          <li>{{ block.description_for_admins }}</li>
          <li>Created {{ block.created_ts | cc_unix_ts_to_datetime }} by {{ block.created_by }}</li>
          <li>{{ block.num_certify_actions }} certifications, {{ block.num_revoke_actions }} revocations</li>
          <li>Signatures (__ of __ required): ___</li>
        </ul>
        <div class="actions">
          <div>SIGN</div>
          <div>
            <form method="post" action="{% url 'internal:discard_pending_block' %}">
              {% csrf_token %}
              <input name="discard_id" type="hidden" value="{{ block.id }}"/>
              <input class="cc-btn" type="submit" value="DISCARD"/>
            </form>
          </div>
          <div>
            <form method="post" action="{% url 'internal:submit_pending_block' %}">
              {% csrf_token %}
              <input name="submit_id" type="hidden" value="{{ block.id }}"/>
              <input class="cc-btn" type="submit" value="SUBMIT"/>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="span5">
      <h2>Hashchain</h2>
      <p>The blocks below form your institution's hashchain. Click on an individual block for details.</p>
      {% if processing_block %}
      <div class="block processing-block">
        <ul class="desc">
          <li>{{ block.header.timestamp | cc_unix_ts_to_datetime }}</li>
        </ul>
        <div class="actions">
          <div>ABORT</div>
        </div>
      </div>
      {% endif %}
      {% for block in latest_n_hcblocks %}
      <div class="block hc-block">
        <ul class="desc">
          <li>Block <a href="{% url 'public:raw_block_by_hash' block.block_id %}">{{ block.block_id | slice:"0:25" }}...</a></li>
          <li>Created on {{ block.timestamp | cc_unix_ts_to_datetime }}</li>
          <li>Contains {{ block.num_certify_actions }} certifications, {{ block.num_revoke_actions }} revocations.</li>
          <li>Signed by {{ block.num_signoff_peers }} peers.</li>
          <li>Parent is {{ block.parent | slice:"0:25" }}...</li>
        </ul>
      </div>
      <img class="chain-arrow" src="{% static 'internal/images/chain_arrow.png' %}"/>
      {% endfor %}
      <center><button class="cc-btn">SHOW MORE BLOCKS</button></center>
    </div>
  </div>
</div>
{% endblock %}