{% extends "internal/auth_base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'internal/css/overview.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<div class="container cc-container">
  {% include "includes/menu.html" %}

  <div class="row">
    <div class="span12">
      <h2>Your Network Presence</h2>
      <p>Other institutions connect to your institution using the information below. </p>
    </div>
  </div>

  <div class="netnode">
    <div class="row">
      <div class="span4">
        <span>{{ network.our_hostname }}</span>
        <label>Hostname</label>
      </div>
      <div class="span2">
        <span>{{ network.our_port }}</span>
        <label>Port</label>
      </div>
      <div class="span6">
        <span>{{ network.our_inst_addr }}</span>
        <label>Address</label>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="row">
    <div class="span12">
      <h2>Add a Node</h2>
      <p>You will initiate and maintain connections with nodes that you enter here, and can optionally choose to peer with them after they are added to the list below.</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="add-node">
        <form method="post" action="{% url 'internal:add_node' %}">
         {% csrf_token %}
          <div>
            <label>Hostname</label>
            <input name="hostname" type="text"/>
          </div>
          <div>
            <label>Port</label>
            <input name="port" type="text"/>
          </div>
          <div>
            <label>Address</label>
            <input name="address" type="text"/>
          </div>
          <input class="cc-btn" type="submit" value="ADD NODE"/>
        </form>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="span12">
      <h2>Known Nodes</h2>
      <p>Your institution maintains contact with the institutions below.</p>
    </div>
  </div>

  {% for _, node in network.node_map.items %}
  <div class="netnode">
    <div class="row">
      <div class="span3">
        <span>{{ node.hostname }}</span>
        <label>Hostname</label>
      </div>
      <div class="span1">
        <span>{{ node.port }}</span>
        <label>Port</label>
      </div>
      <div class="span6">
        <span>{{ node.inst_addr }}</span>
        <label>Address</label>
      </div>
      <div class="span2">
        <form class="forget-node" method="post" action="{% url 'internal:remove_node' %}">
          {% csrf_token %}
          <input name="inst_addr" type="hidden" value="{{ node.inst_addr }}"/>
          <input class="cc-btn" type="submit" value="FORGET NODE"/>
        </form>
      </div>
    </div>
  </div>
  <div class="netnode-states">
    <table>
      <tr>
        {% if node.conn_state == 'Connected' %}
          {% if node.ident_state == 'Confirmed' %}
          <td><span class="state green">CONNECTION</span></td>
          <td>Your institution is connected to this node.</td>
          {% else %}
          <td><span class="state yellow">CONNECTION</span></td>
          <td>Your institution is connected to this node, but they have not proved their identity to you.</td>
          {% endif %}
        <td></td>
        {% else %}
        <td>
          <span class="state red">CONNECTION</span>
        </td>
        <td>
          Your institution is not connected to this node.
        </td>
        <td></td>
        {% endif %}
      </tr>
      <tr>
        {% if node.our_peering_approval == 'Approved' %}
        <td>
          <span class="state green">PEERING</span>
        </td>
        <td>
          You are peering with this institution.
        </td>
        <td>
          <form class="peering-form" method="post" action="{% url 'internal:end_peering' %}">
            {% csrf_token %}
            <input type="hidden" name="addr" value="{{node.inst_addr}}"/>
            <input class="cc-btn" type="submit" value="END PEERING"/>
          </form>
        </td>
        {% endif %}
        {% if node.our_peering_approval == 'NotApproved' %}
        <td>
          <span class="state gray">PEERING</span>
        </td>
        <td>
          You are not peering with this institution.
        </td>
        <td>
          <form class="peering-form" method="post" action="{% url 'internal:request_peer' %}">
            {% csrf_token %}
            <input type="hidden" name="addr" value="{{node.inst_addr}}"/>
            <input class="cc-btn" type="submit" value="REQUEST PEERING"/>
          </form>
        </td>
        {% endif %}
        {% if node.our_peering_approval == 'AwaitingTheirApproval' %}
        <td>
          <span class="state yellow">PEERING</span>
        </td>
        <td>
          This institution has not yet approved your peering request.
        </td>
        <td>
          <form class="peering-form" method="post" action="{% url 'internal:end_peering' %}">
            {% csrf_token %}
            <input type="hidden" name="addr" value="{{node.inst_addr}}"/>
            <input class="cc-btn" type="submit" value="CANCEL REQUEST"/>
          </form>
        </td>
        {% endif %}
        {% if node.our_peering_approval == 'AwaitingOurApproval' %}
        <td>
          <span class="state yellow">PEERING</span>
        </td>
        <td>
          This institution has requested a peering relationship with you.
        </td>
        <td></td>
        {% endif %}
      </tr>
    </table>
    {% if node.our_peering_approval == 'AwaitingOurApproval' %}
    <div class="peering-prompt">
      <span class="prompt">Do you approve of this institution's request to peer with you?</span>
      <br/>
      <span class="desc">If you approve, this institution's signature will be required on all of your future certifications and revocations, and vice versa.</span>
      <div class="options">
        <div class="left-half">
          <form method="post" action="{% url 'internal:approve_peer_request' %}">
            {% csrf_token %}
            <input type="hidden" name="requesting_addr" value="{{node.inst_addr}}"/>
            <input class="cc-btn green" type="submit" value="APPROVE"/>
          </form>
        </div>
        <div class="right-half">
          <form method="post" action="{% url 'internal:end_peering' %}">
            {% csrf_token %}
            <input type="hidden" name="addr" value="{{node.inst_addr}}"/>
            <input class="cc-btn red" type="submit" value="DENY"/>
          </form>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
    {% endif %}
  </div>
  {% empty %}
  <div class="row">
    <div class="span12">
      <p id="cc-no-institutions">Your institution is not in contact with any network nodes at this time.</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}