{% extends "internal/auth_base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'internal/js/jquery-1.10.2.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'public/js/forge.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'public/js/wrapper.js'%}"></script>
  <script type="text/javascript">
  $('document').ready(function(){
    secp256k1.init().then(function() {
        console.log('Loaded secp256k1.');
        var state = {};
        state.secret_key = new Uint8Array(64);
        window.crypto.getRandomValues(state.secret_key);
        console.log(state.secret_key)
        Promise.resolve().then(function(ret) {
          return secp256k1.api.point(state, {seckey: 'secret_key'});
        }).then(function(ret) {
          state.public_key = ret;
          console.log("Private key is: " + forge.util.bytesToHex(state.secret_key));
          console.log("Public key is: " + forge.util.bytesToHex(state.public_key));
        });
    });
  });
  </script>
{% endblock javascript %}

{% block content %}
<div class="container cc-container">
  {% include "includes/menu.html" %}

  <div class="row">
    <div class="span6">
      <h2>Your Signature Name</h2>
      <p>This is the name displayed to viewers of documents you have signed.</p>
    </div>
    <div class="span6">
      <label>Name</label>
      <input type="text" value="Matt Quinn"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="span6">
      <h2>Your Signing Keys</h2>
      <p>These are the keys you have created for use in signing off on changes to the hashchains you are authorized to administer.</p>
    </div>
    <div class="span6">
      <button class="cc-btn">CREATE NEW KEYPAIR</button>
    </div>
  </div>

{% endblock %}